alembic
bcrypt
blinker
click
colorama
dnspython
email_validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
packaging
pandas
prettytable
python-dateutil
pytz
six
SQLAlchemy
typing_extensions
tzdata
wcwidth
Werkzeug
WTForms
dotenv