{% extends 'base.html' %}

{% block title %}
  Login Page
{% endblock %}

{% block content %}

<body class="text-center">
<div class="container">
  <form method="POST" class="form-login" style="color:white">
    {{ form.hidden_tag() }} <!--This is a hidden tag that is used to prevent CSRF attacks -->

    <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" class="rounded mx-auto d-block" alt="User Image" style="width: 100px; height: 100px;">
    <h1 class="text-center">Login</h1>

    {{ form.username.label(class="form-control-label") }}
    {{ form.username(class="form-control form-control-lg") }}

    {{ form.password.label(class="form-control-label") }}
    {{ form.password(class="form-control form-control-lg") }}
    <br>
      <div>
          <a href="{{ url_for('register_page') }}">Don't have an account? Register here.</a>
      </div>
    <br>
    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
  </form>
</div>

{% endblock %}